body {
	margin:0px;
	padding:0px;
	font-size:12px;
	background-color:#DDD9D9;
	font-family:sans-serif;
}
a
	{text-decoration:none; color:#55524E; font-weight:bold;}
a:hover, tr.boardentry.board:hover a.name, tr.boardentry.thread:hover a.subject
	{color:#FF8800;}
a:focus
	{color:#FF8800;}

.logo	{
	border:0px;
}

.message .meta {
	vertical-align:top; color:gray; font-weight:normal;
}
.seite {
	margin:20px;
}
.headerdiv, .footerdiv {
	clear:both;
	padding:10px;
	background-color:#FFAC4C;
	border-radius:5px;
	border-radius:5px;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
}
.headerdiv a:hover, .footerdiv a:hover {
	color:gray;
}
.headerdiv p, .footerdiv p {
	margin:0px;
	padding:0px;
}
.version {
	float:right;
}
.buttondiv {
	float:right;
	vertical-align:top;
	text-align:right;
	color:#000000;
}
.buttondiv a {
	color:#000000;
	text-decoration:none;
	font-weight:bold;
}
.buttondiv a:hover {
	color:#FFFFFF;
}

.maintable thead {
	background-color:#FFAC4C;
	color:#55524E;
	text-align:left;
}
.maintable thead a:hover {
	color:gray;
}
.maintable {
	width:100%;
	border-spacing:0px;
	border:5px solid #FFAC4C;
	border-radius:5px;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	border-top:3px solid #FFAC4C;
	margin-bottom:15px;
}
.maintable th.title {
	padding-left:10px;
}
.boardentry td {
	border-bottom:1px solid grey;
	cursor:pointer;
}
.boardentry.odd td {
	padding-top:4px;
	padding-bottom:4px;
	background-color:#FFE1BF;
}
.boardentry.even td {
	padding-top:4px;
	padding-bottom:4px;
	background-color:#FFEDD9;
}
.boardentry.first td {
	border-top:1px solid grey;
}
tr.boardentry:hover td {
	background-color:#ccc;
}
.boardentry td.icon {
	padding-left:10px;
	width:32px;
}
.boardentry td.icon.unread {
}
.boardentry td.title {
	width:50%;
}
.boardentry td.threadcount, .boardentry td.postcount {
	table-layout:fixed;
	text-align:center;
	width:80px;
}
.boardentry td.lastpost {
	padding-left:5px;
}
.icon img {
	border:0px;
}

span.title {
	font-size:16px;
	color:#55524E;
	font-weight:bold;
}
span.titlebeschr {
	font-size:12px;
	color:#55524E;
}
.date {
	font-size:11px;
}
.arrowright {
	font-weight:bold;
	font-size:14px;
}
.mainname {
	margin:8px;
}
.page {
	float:right;
	margin-right:8px;
	margin-bottom:5px;
	margin-top:5px;
}
.selected-page {
	background-color:#FFAC4C;
	border:1px solid #FFAC4C;
	margin-right:2px;
	padding:1px;
}
.pagenumber {
	background-color:#d9d9d9;
	border:1px solid #a6a6a6;
	margin-right:2px;
	padding:1px;
}
.pagenumber:hover {
	background-color:#FFAC4C;
	border:1px solid #FFAC4C;
	color:#55524E;
}
input.newthread {
	float: left;
	margin-bottom: 10px;
	margin-left: 5px;
}
input.markread {
	float: left;
	margin-bottom: 10px;
	margin-left: 5px;
}
.mainmessagetable {
	width:100%;
	border-spacing:0px;
	border:5px solid #FFAC4C;
	border-radius:5px;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	margin-top:20px;
}
.mainmessagetable.first {
	margin-top:0px;
}
.mainmessagetable.odd .message td {
	background-color:#FFE1BF;
}
.mainmessagetable.even .message td {
	background-color:#FFEDD9;
}
.messagehead td {
	padding:5px;
	background-color:#ffd5a6;
	border-style:solid solid none solid;
	border-width:1px;
}
.message td {
	padding:5px;
	padding-bottom:10px;
	border-style:none solid solid solid;
	border-width:1px;
}
.message.buttondiv {
	float:right;
	padding-right:5px;
}
.message td.author, .message .authorpic {
	width:100px;
}
.info {
	font-size:11px;
	color:#55524E;
}
.attachmentbox {
	border:1px dashed grey;
	padding:5px;
	width:auto;
	clear:left;
	float:left;
}
.attachmentsep {
	height:1px;
	color:black;
	background-color:black;
}
.subject {
	font-size:16px;
	font-weight:bold;
	color:#55524E;
}
.author {
	font-size:15px;
	font-weight:bold;
	color:#55524E;
}
.date {
	font-size:13px;
	color:#55524E;
	font-weight:normal;
}
.posttable {
	border:1px solid grey;
	margin:10px;
	padding:20px;
}

div.quote {
	border-left:3px solid #000;
	border-right:3px solid #000;
	border-top:1px dotted #000;
	border-bottom:1px dotted #000;
	background-color:gray;
	margin:0px 2px 0px 2px;
	padding:5px 2px;
}
div.quote {
	border-color:#c00;
	background-color:#fcc;
}
div.quote div.quote {
	border-color:#0c0;
	background-color:#cfc;
}
div.quote div.quote div.quote {
	border-color:#00c;
	background-color:#ccf;
}
div.quote div.quote div.quote div.quote {
	border-color:#cc0;
	background-color:#ffc;
}
div.quote div.quote div.quote div.quote div.quote {
	border-color:#0cc;
	background-color:#cff;
}
div.quote div.quote div.quote div.quote div.quote div.quote {
	border-color:#c0c;
	background-color:#fcf;
}
